<!DOCTYPE html>
<head>
    <style>
        html {
          size: 24cm;
          margin: 2mm 17mm 15mm 17mm;
        }
        .font {
          font-family: Arial, sans-serif;
          text-align: justify;
        }
        .uppercase {
          text-transform: uppercase;
        }
        .bold {
          font-weight: 700;
        }
        .mb8 {
          margin-bottom: 8px;
        }
        .mb {
          margin-bottom: 5px;
        }
        .f13 {
          font-size: 13px;
          line-height: 20px;
        }
        .f16 {
          font-size: 16px;
          line-height: 20px;
        }
        .fw400 {
          font-weight: 400;
        }
    </style>
</head>
<html>
    <body class="font">
    <table>
      <div class="f16 mb8 bold">
        PPA TERMS AND CONDITIONS
      </div>
      <div class="f13 mb8 fw400">
        The Private Pension Administrator (PPA) is a body approved under section 139C of the Capital Markets and
        Services Act 2007 to perform the function of record keeping, administration and customer service for
        members and contributors in relation to contributions made in respect of a private retirement scheme. All
        PRS applicants are required to open an account with the PPA and upon successful creation of the respective
        account, the PRS applicants are subsequently referred to as PPA members.
      </div>
      <div class="f13 mb8 bold">
        1. GENERAL
      </div>
      <div class="f13 mb8 fw400">
        The PPA members shall be bound by these terms and conditions, and also the terms and conditions stated in
        the E-Application Form and the webpage of the PPA at <u>www.ppa.my</u>
      </div>
      <div class="f13 mb8 bold">
        2. ACCOUNT OPENING
      </div>
      <div class="f13 mb8 fw400">
        Upon receipt of information via this E-Application Form as well as other supporting documents (if any), the
        information contained therein will be used by the PPA for creation of account and record purposes.
      </div>
      <div class="f13 mb8 fw400">
        The PPA shall have the absolute discretion in the opening of a PPA account.
      </div>
      <div class="f13 mb8 fw400">
        All instructions and/or information given by the PPA, including those given here are binding on the Applicant.
      </div>
      <div class="f13 mb8 bold">
        3. FEES PAYABLE TO PPA
      </div>
      <div class="f13 fw400">
        The PPA Fees payable to the PPA are as follows: - 
      </div>
      <div class="f13 fw400">
        Account opening fee (RM10) 
      </div>
      <div class="f13 fw400">
        Annual maintenance fee (RM8) (payable only when there is contribution)
      </div>
      <div class="f13 mb8 fw400">
        Administration Fees (0.04% of the Fund’s NAV charged to the funds by Providers)
      </div>
      <div class="f13 mb8 fw400">
        The above may be collected by the PRS Provider acting on behalf of the PPA. For further information on PPA
        fees and charges, please refer to <u>http://www.ppa.my/ppa/member-services/prs-transactions/</u>
      </div>
      <div class="f13 mb8 bold">
        4. CHANGE OF CONTACT DETAILS
      </div>
      <div class="f13 mb8 fw400">
        It shall be the duty of PPA members’ obligation to notify the PRS Provider and PPA of any change in PPA
        members’ address, e-mail and/or contact number immediately to ensure continuity in the receipt of
        communication from the PPA
      </div>
      <div class="f13 mb8 bold">
        5. PERSONAL DATA STATEMENT
      </div>
      <div class="f13 mb fw400">
        Personal data provided by the Member on the E-Application Form and details of transactions or dealings by
        Members provided from time to time thereafter may be used and/or disclosed by the PPA and/or the PPA’s
        personnel for the following purpose: -
      </div>
      <ol type="a">
        <li class="f13 mb8 fw400">
          The use and/or disclosure of the PPA members’ personal information to any party is necessary for the
          completion of any transaction, dealings or in connection with services that the PPA may provide to
          the PPA members;
        </li>
        <li class="f13 mb8 fw400">
          If required by the applicable laws, regulations, directives, guidelines, regulatory authorities,
          government authorities and/or court of competent jurisdiction; and
        </li>
        <li class="f13 mb8 fw400">
          To any PPA’s delegates, service providers or any third party that the PPA may engage on the basis
          that the recipient would continue to maintain confidentiality of the PPA’s members personal
          information.
        </li>
      </ol>
      <div class="f13 mb8 fw400">
        Members are also advised to read the PPA Privacy Notification.
      </div>
      <div class="f13 mb8 bold">
        6. SELF-SELECTIVE
      </div>
      <div class="f13 mb8 fw400">
        Members are instructed to seek advice from the PRS Provider and/or a professional adviser when choosing
        to invest using self-selective options
      </div>
    </body>
</html>
