<!DOCTYPE html>
<head>
    <style>
        html {
          size: 24cm;
          margin: 2mm 17mm 15mm 17mm;
        }
        .font {
            font-family: Arial, sans-serif;
            text-align: justify;
        }
        .uppercase {
            text-transform: uppercase;
        }
        .bold {
            font-weight: 700;
        }
        .pb10 {
            padding-bottom: 12px;
        }
        .pt24 {
            padding-top: 24px;
        }
        .mb8 {
            margin-bottom: 8px;
        }
        .f13 {
            font-size: 13px;
            line-height: 20px;
        }
        .f16 {
          font-size: 16px;
          line-height: 20px;
        }
        .fw400 {
          font-weight: 400;
        }
    </style>
</head>
<html>
    <body class="font">
    <table>
      <div class="f13 mb8 bold">
        7. NIL BALANCE ACCOUNTS
      </div>
      <div class="f13 mb8 fw400">
        PPA reserves the right after 6 months of notification to the member to close a PPA account that does not
        reflect any balance in the PPA account due to the following reasons: -
      </div>
      <ol type="a">
        <li class="f13 mb8 fw400">
          Full amount withdrawn (upon attaining retirement age/ permanent departure) and account has zero
          units for 6 months; or
        </li>
        <li class="f13 mb8 fw400">
          Upon release of the deceased member’s funds to beneficiaries/ nominees/ next-of-kin pursuant to a
          Letter of Administration or Grant of Probate
        </li>
      </ol>
      <div class="f13 mb8 bold">
        8. VARIATION
      </div>
      <div class="f13 mb8 fw400">
        The PPA shall be entitled at any time and without prior reference to the PPA members’ to add, vary or amend
        any or all of the terms and conditions herein and/or the PPA’s website and/or the E-Application at its sole and
        absolute discretion.
      </div>
      <div class="f13 f16 mb8 bold pt24">
        PRIVACY NOTIFICATION
      </div>
      <div class="f13 mb8 fw400">
        The PPA wish to assure you that we take your privacy seriously and are committed to the protection of our
        member’s personal information in connection to the Personal Data Protection Act 2010 (“PDPA”) which was
        introduced to regulate the processing of personal data in commercial transactions.
      </div>
      <div class="f13 mb8 fw400">
        In line with PPA’s compliance to PDPA, PPA has put in place a personal data protection and compliance
        principles framework in the provision of PPA services. Kindly refer to the PPA Privacy Statement at
        www.ppa.my for further details.
      </div>
      <div class="f13 mb8 fw400">
        The PPA Privacy Statement forms an integral part of the terms and conditions of the PPA account and by
        continuing to use the PPA account, you are accepting and consenting to your personal information being
        processed by PPA for the purpose and in the manner as set out in the PPA Privacy Statement.
      </div>
      <div class="f13 mb8 fw400">
        Your personal information was collected from the online PRS Application or E-Application Form with your
        Private Retirement Scheme (PRS) Provider(s) and/or processed through your PRS Provider. The accuracy of
        your personal information depends on the information you provide to your PRS Provider at the point of
        application. Kindly update both the PRS Provider and PPA as and when there are changes to your personal
        information which have become incorrect or out of date.
      </div>
      <div class="f13 mb8 fw400">
        PPA members may receive additional informative materials for awareness and educational purposes. In
        relation to these materials, you may request the PPA by written notice not to forward such materials to you
        via (i) phone, (ii) post, (iii) e-mail or sms, or (iv) communicating to you by whatever means.n)
      </div>
      <div class="f13 mb8 fw400">
        PPA is committed to protecting the security of your personal information from unauthorized access, use or
        disclosure. The PPA online password is used to help protect your account and personal information. You are
        therefore advised to keep your PPA online password confidential. If you are sharing a computer with anyone,
        you are advised to log out from your account before leaving a site or service to protect access to your
        information by subsequent users.
      </div>
      <div class="f13 mb8 fw400">
        We will occasionally update this privacy statement to reflect changes from time to time in compliance with
        regulatory requirements. If there are material changes to this statement or in how PPA will use your personal
        information, we will notify you either by prominently posting a notice of such changes prior to implementing
        the change or by directly sending you a notification. We encourage you to periodically visit the PPA’s website
        to be informed of how PPA is protecting your information.
      </div>
    </body>
</html>
