<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>{{ subject }}</title>
</head>
<body style="font-family: Nunito Sans;">
<div style="margin:auto; width: 20%; height: 5rem;padding: 20px;color: #C61230;font-size: 1em;font-weight: bold;">
    <img src="https://omni-icons.s3-ap-southeast-1.amazonaws.com/kenanga.jpg">
</div>
<hr>
<div style="padding: 20px; margin: auto; width:20%;">
    <pre style="font-family: Nunito Sans; color: #333333;">
    <strong>Compliance,</strong>
    EDD case has been rejected for the client:

    Full Name as per NRIC: <b>{{ clientName }}</b>
    NRIC: <b>{{ clientIdNum }}</b>
    Account Type: <b>{{ accountType }}</b>
    Assigned Adviser: <b>{{ agentName }}</b>
    Assigned Adviser ID: <b>{{ agentCode }}</b>
    Reason for EDD: <b>{{ eddReason }}</b>

    Please complete and resubmit by <strong>{{ targetDate }}</strong>.

    Thank you.
    <b>AMLA Officer</b>
    <b>Kenanga Investors Berhad</b>




    </pre>
<div style="width: 100%;height: 5em;padding: 20px;font-size: 0.85em;background-color: #C61230;color: white;font-weight: bold;">
    <div style="margin:10px auto; width:20%;">Kenanga Investment Bank Berhad (15678-H).<br>All rights reserved.</div>
</div>
</body>
</html>